/* TreeDropdown.css */
.tree-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .selected-item {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px;
    min-width: 150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    transition: transform 0.3s;
  }
  
  .arrow.open {
    transform: rotate(-135deg);
  }
  
  .dropdown-container {
    position: relative;
  }
  
  .dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .dropdown-list li {
    padding: 5px;
    cursor: pointer;
  }
/*   
  .dropdown-list li:hover {
    background-color: #f0f0f0;
  } */
  
  .dropdown-list ul {
    list-style: none;
    /* padding-left: 20px; */
    margin: 0;
  }
  
  .selected {
    background-color: #d72a2a;
  }
  
  .confirm-button {
    width: calc(100% - 10px);
    padding: 5px;
    margin: 5px;
  }
  